*{
    font-family: "Varela Round", sans-serif;
}
header{
    background-color: #5C3576;
}
.nav-item a{
color: #F1ECDE;
}
#boton-perfil{
background-color: #8A79BD;
}
.nav-item a:hover{
    color: #8A79BD;
}
#app{
    color: #87509D;
}

